.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 105px;
    width: 100%;
}

.select-button {
    display: flex;
    justify-content: space-between;
    width: 980px;
}

.select-button div {
    width: 100%;
}

.select-button div>button {
    display: block;
    border: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    color: #7f7f7f;

    background-color: #fff;
    cursor: pointer;

}

.select-contents {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.member {
    display: none;
    justify-content: space-between;

    width: 980px;
    height: 363.5px;
    padding: 60px 0px;
}

.login-box {
    width: 470px;
    min-height: 220px;

}

.tip {
    font-size: 16px;

}

.login-area {
    display: flex;
    justify-content: space-between;

    margin-top: 21px;
}

.login-input-box {
    display: flex;
    flex-direction: column;
}

.username {
    width: 350px;
    height: 45px;
    padding: 0px 18px;
    border-radius: 4px;
    border: 1px solid #DDD;

    background-color: #fff;
    font-size: 14px;
    word-spacing: 2px;
}

.password {
    width: 350px;
    height: 45px;
    padding: 0px 18px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #DDD;

    background-color: #fff;
    font-size: 14px;
    word-spacing: 2px;
}

.login-area button {
    padding: 1px 6px;
    width: 110px;
    height: 100px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff243e;
}

.login-assist {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 470px;
    height: 25px;
    margin: 15px 0px 40px;

}

/* #checkSavedID {
    width: 20px;
    height: 20px;
    border: none;
} */

#checkSavedID::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid #DDD;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

#checkSavedID:checked::before {
    background: url("/static/images/login_check.png") no-repeat 50% 50% white;
}

.login-check {
    position: relative;
    display: flex;
    align-items: center;
}

.login-check label {
    margin-left: 12px;
    height: 20px;
    line-height: 20px;
}

.login-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 20px;
    width: 206.23px;
    height: 25px;
}

.login-menu a {
    color: #666;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.login-menu a:not(:first-child):before {
    content: '';
    position: absolute;
    opacity: 0.2;
    left: -11px;
    top: 50%;
    margin-top: -5px;
    width: 1px;
    height: 10px;
    border-left: 1px solid #707070;
}

.login-banner {
    width: 451px;
    height: 220px;

    margin-top: 20px;
}

.not-member {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 781.19px;
    background-color: #f5f5f5;
}

.not-member-login {
    display: none;
    flex-direction: column;
    margin: 0px auto;
    padding: 30px 0px 60px;
    width: 980px;
}

.not-member-select-btn {
    display: flex;
}

.not-member-select-btn button:first-child {
    position: relative;
    padding-left: 0;
}

.not-member-select-btn button:first-child::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 0;
    width: 1px;
    height: 14px;
    background-color: #e0e0e0;
}

.not-member-select-btn button {
    padding: 0px 10px;
    border: none;
    outline: none;
    height: 30px;
    line-height: 30px;

    font-size: 15px;

    background-color: #f5f5f5;
}

.n-login-input-box {
    display: flex;
    flex-direction: column;
    width: 980px;
}

.n-login-items {
    display: flex;
    justify-content: space-between;
}

.n-login-input {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.label-box {
    display: flex;
    justify-content: flex-end;
}

.label-box label {
    font-size: 15px;
    line-height: 40px;
    position: relative;
}

.label-box label::after {
    position: absolute;
    right: 340px;
    top: 10px;
    content: '*';
    color: #FF243E;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.label-box label>input {
    font-size: 15px;
    padding: 0px 18px;
    margin-left: 45px;
    width: 310px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.label-box:not(:first-child)>label {
    margin-top: 5px;

}

.n-login-banner img {
    width: 450px;
    height: 220px;
    margin-top: 20px;

}

.birth-year-label {
    margin-right: 45px;
    position: relative;
}

.birth-year-label::after {
    position: absolute;
    left: 61px;
    top: 10px;
    content: '*';
    color: #FF243E;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.birth-select {
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 40px;
}

#birthyear {
    width: 108px;
    margin-top: 5px;
    padding: 0px 18px;
    border: 1px solid #ddd;
    background: #fff url(/static/images/arr_dw_13.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    appearance: none;

}

#birthmonth {
    width: 91px;
    margin-top: 5px;
    padding: 0px 18px;
    border: 1px solid #ddd;
    background: #fff url(/static/images/arr_dw_13.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    appearance: none;
}

#birthday {
    width: 91px;
    margin-top: 5px;
    padding: 0px 18px;
    border: 1px solid #ddd;
    background: #fff url(/static/images/arr_dw_13.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    appearance: none;
}

.n-login-info>p {
    margin-top: 40px;
    padding-left: 128px;
    color: #666;
    font-size: 13px;
}

.n-login-info>p::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: 8px 5px 0 0;
    border-radius: 50%;
    vertical-align: top;
    background-color: #666;
}

.txtarea-box {
    margin: 30px 0px 30px;
    width: 980px;
    height: 177px;
}

.txtarea {
    padding: 21px 32px;
    overflow-y: scroll;
    height: 177px;
    line-height: 1.6;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.focus-textarea {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.6;
    font-size: 14px;
}

.color-red {
    color: #ff7787;
    line-height: 1.6;
    font-size: 14px;
}

.agreement-check-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
    text-align: right;
}

#privacy-Ok1 {
    position: relative;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    vertical-align: middle;
    border: none 0;
}

.agreement-check-box:first-child Label {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

#privacy-Ok2 {
    position: relative;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    vertical-align: middle;
    border: none 0;
}

.agreement-check-box:last-child label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.agreement-check-box label::before {
    border-color: #000;
    background: #fff url(/static/images/icon_rad_12.png) no-repeat center center;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.signup-signin-button {
    display: flex;
    justify-content: center;
    margin: 90px 0px 0px;
    text-align: center;
    height: 45px;
}

.signup-signin-button a {
    min-width: 160px;
    margin: 0px 3px;
}

.btn-signup {
    height: 45px;
    line-height: 43px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #000000;
    font-size: 14px;
    color: #000000 !important;
    text-align: center;
    background-color: #ffffff;
}

.btn-signin {
    height: 45px;
    line-height: 43px;
    padding: 0px 18px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    background-color: #414141;

}

.not-member-reservation {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 30px 0px 60px;
    width: 980px;
}

.n-reservation-input {
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}