<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="contents">
        <div class="reserve-wrap">
            <div class="section-step-title">
                <ul>
                    <li class="step01">
                        <a href="">
                            <span>01</span>
                            <br>상영시간
                        </a>
                    </li>
                    <li class="step02">
                        <a href="">
                            <span>02</span>
                            <br>인원/좌석
                        </a>
                    </li>
                    <li class="step03">
                        <a href="">
                            <span>03</span>
                            <br>결제
                        </a>
                    </li>
                    <li class="step04">
                        <a href="">
                            <span>04</span>
                            <br>결제완료
                        </a>
                    </li>

                </ul>
            </div>
            <div class="article-cinema"></div>
            <div class="article-movie"></div>
            <div class="article-time"></div>
        </div>
    </div>
</body>

</html>