@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    background-repeat: no-repeat;
    background-position: 0 50%;
}
#header-section {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 194px;
}

.logo {
    margin-left: -109px;
    position: absolute;
    top: 18px;
    left: 50%;
    z-index: 1;
    width: 219px;
    height: 37px;
}

.gnb {
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 71px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
}


.g-menu1 {
    float: left;
    opacity: 0.5;
    margin-top: 40px;
    width: 224.19px;
    height: 14px;
    white-space: nowrap;
}

.facebook :first-child {
    background-image: url(../images/gnb_facebook_wht.png);
}

.youtube :first-child {
    background-image: url(../images/gnb_youtube_wht.png);
}

.instagram :first-child {
    background-image: url(../images/gnb_follow_wht.png);
    margin-right: 0;
}


.g-menu1 li {
    margin-right: 14px;
    display: inline-block;
}

.g-menu1 li a {
    padding-left: 16px;
    height: 14px;
    line-height: 14px;
    color: #fff;
}

.g-menu2 {
    display: flex;
    float: right;
    margin-top: 40px;
    opacity: 0.5;
}

.g-menu2 li {
    margin-left: 14px;
}

.g-menu2 li a {
    height: 14px;
    line-height: 14px;
    color: #fff;
}

.g-menu3 {
    position: absolute;
    display: flex;
    white-space: nowrap;
    top: 88px;
    right: 0;
    margin-top: 0;
    width: 205.81px;
    height: 14px;

}

.g-menu3 li {
    margin-left: 25px;
}

.g-menu3 li a {
    padding-left: 15px;
    height: 14px;
    line-height: 14px;
    font-size: 11px;
    color: #ccc;
}

.btn-my :first-child {
    background-image: url(../images/nav_side_my_wht.png);
}

.btn-reverse :first-child {
    background-image: url(../images/nav_side_reserve_wht.png);
}

.btn-menu-all button {
    border: none;
    background: none;
}



#nav {
    display: flex;
    justify-content: center;
    margin: 3px auto 0;
    text-align: center;
    width: 980px;
    height: 40px;

}

.main-nav {
    display: flex;
}

.main-nav-detail {
}

.main-nav-detail > a {
    position: relative;
    display: block;
    padding: 0 24px;
    line-height: 40px;
    height: 40px;

    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.main-nav-detail:not(:first-child)>a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 9px;
    margin-top: -5px;
    border-left: 1px solid #707070;
}

.display-none {
    display: none;
}

.nav-nav1 {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 114px;
    width: 100%;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-nav1>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    
}

.nav-nav1>ul>li {
    margin: 0 10px;
    
}

.nav-nav1>ul>li>a,
.nav-nav2>ul>li>a {
    padding: 0 5px;
    display: block;
    opacity: 0.5;
    color: #fff;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    white-space: nowrap;
    
}

.nav-nav2 {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 38px;
    text-align: center;
    background-color: #000;
}

.nav-nav2 ul {
    margin: 10px auto;
    width: 980px;
    height: auto;
}

.nav-nav2>ul>li {
    margin: 0 5px;
    display: inline-block;
}


#sub-section {
    position: relative;
    width: 100%;
    height: 2365.11px;
}

.visual-ad {
    background: black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3));
}

.slide-wrap {
    width: 100%;
    height: 100%;
}

.slide-stage-outer {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-stage {
    max-width: 100%;
    min-width: 1000px;
    overflow: hidden;
    height: 774px;
}
.slide-img {
    width: 100%;
    height: 100%;
}

.slide-img > li {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide-img>li>img {
    width: 1920px;
    height: 774px;
}

.slide-btn {
    margin-top: -10px;
    width: auto;
    top: 50%;
    left: 50%;
    right: auto;
}

.left-btn {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 31px;
    height: 60px;
    margin-top: -15px;
    background-size: auto;
    background-image: url(../images/arr_lf_31_wht.png);
    opacity: 0.6;
    border: none;
    background-color: transparent;
}

.right-btn {
    position: absolute;
    margin-top: -15px;
    background-size: auto;
    background-image: url(../images/arr_rg_31_wht.png);
    top: 50%;
    right: 30px;
    width: 31px;
    height: 60px;

    opacity: 0.6;
    border: none;
    background-color: transparent;

}

.dot-btns {
    display: flex;
    width: 60px;
    justify-content: space-between;
    margin: 0 -455px 0 0;
    position: absolute;
    right: 50%;
    left: auto;
    top: auto;
    bottom: 95px;
}

.dot-btn {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    border: none;
}

.dot-btn>span {
    margin: 0 3px;
    width: 6px;
    height: 6px;
}

#content {
    margin: 0 auto;
    padding-top: 50px;
    width: 980px;
    height: 1591.11px;
}

.movie-current-list {
    margin-top: -100px;
    margin-bottom: 70px;
    width: 100%;
    height: 384.89px;
    background-color: #ccc;
}

#main-special-cinema {
    margin-bottom: 33px;
    width: 100%;
    height: 101.69px;
    background-color: antiquewhite;
}

#main-event-list {
    margin-bottom: 33px;
    width: 100%;
    height: 540.69px;
    background-color: #ccc;
}

.main-cont-premiere {
    margin: 15px 0 53px 0;
    width: 100%;
    height: 215.61px;
    background-color: antiquewhite;
}

.mid-menu-wrap {
    margin-bottom: 50px;
    width: 100%;
    height: 133px;
    background-color: #ccc;
}

.main-cont-notice {
    padding-bottom: 10px;
    width: 100%;
    height: 26.23px;
    border-bottom: 1px solid #aaa;
}

#banner-section {
    padding-top: 70px;
    width: 100%;
    height: 540px;
    background-color: #ccc;
}

#footer-section {
    padding-top: 80px;
    width: 100%;
    height: 349.38px;
    background-color: antiquewhite;
}

.tab-wrap {
    
}
