main {
    width: 100%;
}

.dim {
    display: none;
}

.dim.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 105px;
    width: 100%;
}

.not-member-login-layer {
    display: none;
    left: 50%;
    top: 50%;
    margin-top: -194px;
    margin-left: -210px;

    width: 420px;
    height: 387.88px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.not-member-login-layer.active {
    display: block;
    position: fixed;
    z-index: 6;
    height: auto;
}

.layer-contents {
    padding: 30px 25px;
    width: 420px;
    height: 336.88px;

}

.layer-title {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}

.input-label-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 370px;
    height: 175px;
}

.input-label {
    position: relative;
    margin-bottom: 20px;
    width: 370px;
    height: 45px;
}

.title {
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 45px;
    font-size: 13px;
    color: #666;
    white-space: nowrap;
}

.layer-input {
    padding: 0 18px;
    padding-left: 110px;
    width: 100%;
    height: 45px;

    text-align: right;
    line-height: 45px;
    font-size: 14px;

    background-color: #F8F8F8;
    border-radius: 4px;
    border: none;
}

.layer-text {
    margin: 20px 0 5px 8px;
    text-indent: -8px;
    font-size: 11px;
    text-align: center;
}

.layer-footer {
    border-top: 1px solid #DDD;
    text-align: center;
    background-color: #f8f8f8;
}

.layer-footer>ul {
    display: flex;
}

.layer-footer>ul>li {
    width: 50%;
}

.close-btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: none;
    font-size: 16px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.check-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 25px;
    margin-top: -12px;
    border-left: 1px solid #ddd;
}

.sect::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 25px;
    margin-top: -12px;
    border-left: 1px solid #ddd;
}


.check-btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: none;
    font-size: 16px;
    background-color: #f8f8f8;
    cursor: pointer;
}



.select-button {
    display: flex;
    justify-content: space-between;
    width: 980px;
}

.select-button div {
    width: 100%;
}

.member-btn {
    display: block;
    border: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    color: #7f7f7f;

    background-color: #fff;
    cursor: pointer;

}

.member-btn.current {
    border-bottom: 2px solid #111;
    color: #000;
}

.select-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.select-box {
    display: none;
    justify-content: center;
    margin-top: 30px;
    width: 100%;

    background-color: #f5f5f5;
}

.select-box.current {
    display: flex;
}

.member {
    display: flex;
    justify-content: space-around;

    width: 980px;
    height: 363.5px;
    padding: 60px 0px;

}

.login-box {
    width: 470px;
    min-height: 220px;

}

.tip {
    font-size: 16px;

}

.login-area {
    display: flex;
    justify-content: space-between;

    margin-top: 21px;
}

.login-input-box {
    display: flex;
    flex-direction: column;
}

.username {
    width: 350px;
    height: 45px;
    padding: 0px 18px;
    border-radius: 4px;
    border: 1px solid #DDD;

    background-color: #fff;
    font-size: 14px;
    word-spacing: 2px;
}

.password {
    width: 350px;
    height: 45px;
    padding: 0px 18px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #DDD;

    background-color: #fff;
    font-size: 14px;
    word-spacing: 2px;
}

.login-area button {
    padding: 1px 6px;
    width: 110px;
    height: 100px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff243e;
}

.login-assist {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 470px;
    height: 25px;
    margin: 15px 0px 40px;

}

#checkSavedID::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid #DDD;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

#checkSavedID:checked::before {
    background: url("/static/images/login_check.png") no-repeat 50% 50% white;
}

.login-check {
    position: relative;
    display: flex;
    align-items: center;
}

.login-check label {
    margin-left: 12px;
    height: 20px;
    line-height: 20px;
}

.login-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 20px;
    width: 206.23px;
    height: 25px;
}

.login-menu a {
    color: #666;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.login-menu a:not(:first-child):before {
    content: '';
    position: absolute;
    opacity: 0.2;
    left: -11px;
    top: 50%;
    margin-top: -5px;
    width: 1px;
    height: 10px;
    border-left: 1px solid #707070;
}

.login-banner {
    width: 451px;
    height: 220px;

    margin-top: 20px;
}

#tab-section-2 {
    margin: 0;
}

.not-member-login {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 30px 0px 60px;
    width: 980px;
}

.not-member-select-btn {
    padding: 10px 0 0 10px;
    display: flex;
}


.not-member-select-btn button:first-child {
    position: relative;
    padding-left: 0;
}

.not-member-select-btn button:first-child::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 0;
    width: 1px;
    height: 14px;
    background-color: #e0e0e0;
}

.not-member-select-btn button {
    padding: 0px 10px;
    border: none;
    outline: none;
    height: 30px;
    line-height: 30px;

    font-size: 15px;

    background-color: #f5f5f5;
}

.n-login-input-box {
    display: none;
    flex-direction: column;
    width: 980px;
}

.n-login-input-box.current {
    display: flex;
}

.n-login-items {
    display: flex;
    justify-content: space-between;
}

.n-login-input {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.label-box {
    display: flex;
    justify-content: flex-end;
}

.label-box label {
    font-size: 15px;
    line-height: 40px;
    position: relative;
}

.label-box label::after {
    position: absolute;
    right: 340px;
    top: 10px;
    content: '*';
    color: #FF243E;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.label-box label>input {
    font-size: 15px;
    padding: 0px 18px;
    margin-left: 45px;
    width: 310px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.label-box:not(:first-child)>label {
    margin-top: 5px;

}

.n-login-banner img {
    width: 450px;
    height: 220px;
    margin-top: 20px;

}

.birth-year-label {
    margin-right: 45px;
    position: relative;
}

.birth-year-label::after {
    position: absolute;
    left: 61px;
    top: 10px;
    content: '*';
    color: #FF243E;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.birth-select {
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 40px;
}

#birthyear {
    width: 108px;
    margin-top: 5px;
    padding: 0px 18px;
    border: 1px solid #ddd;
    background: #fff url(/static/images/arr_dw_13.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    appearance: none;

}

#birthmonth {
    width: 91px;
    margin-top: 5px;
    padding: 0px 18px;
    border: 1px solid #ddd;
    background: #fff url(/static/images/arr_dw_13.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    appearance: none;
}

#birthday {
    width: 91px;
    margin-top: 5px;
    padding: 0px 18px;
    border: 1px solid #ddd;
    background: #fff url(/static/images/arr_dw_13.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: right 6px top 50%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    appearance: none;
}

.n-login-info>p {
    margin-top: 40px;
    padding-left: 128px;
    color: #666;
    font-size: 13px;
}

.n-login-info>p::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: 8px 5px 0 0;
    border-radius: 50%;
    vertical-align: top;
    background-color: #666;
}

.txtarea-box {
    margin: 30px 0px 30px;
    width: 980px;
    height: 177px;
}

.txtarea {
    padding: 21px 32px;
    overflow-y: scroll;
    height: 177px;
    line-height: 1.6;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.focus-textarea {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.6;
    font-size: 14px;
}

.color-red {
    color: #ff7787;
    line-height: 1.6;
    font-size: 14px;
}

.agreement-check-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
    text-align: right;
}

.agreement-check-box>input {
    display: none;
}

.agreement-check-box:first-child Label {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.agreement-check-box:last-child label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.agreement-check-box label::before {
    border-color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border-radius: 50%;
}

.agreement-check-box input[type="radio"]:checked+label::before {
    background: url(/static/images/icon_rad_12.png) no-repeat 50% 50%;
}

.signup-signin-button {
    display: flex;
    justify-content: center;
    margin: 90px 0px 0px;
    text-align: center;
    height: 45px;
}

.signup-signin-button>a,
.signup-signin-button>button {
    min-width: 160px;
    margin: 0px 3px;
}

.btn-signup {
    height: 45px;
    line-height: 43px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #000000;
    font-size: 14px;
    color: #000000 !important;
    text-align: center;
    background-color: #ffffff;
}

.not-member-login-btn {
    height: 45px;
    line-height: 43px;
    padding: 0px 18px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    background-color: #414141;

}

.not-member-booking {
    height: 45px;
    line-height: 43px;
    padding: 0px 18px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    background-color: #414141;

}

.not-member-reservation {
    display: none;
    flex-direction: column;
    margin: 0px auto;
    padding: 30px 0px 60px;
    width: 980px;
}

.not-member-reservation.current {
    display: flex;
}

.not-member-login.current {
    display: flex;
}

.n-reservation-input {
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.login-box-social {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 60px 0px;
    width: 980px;
}

.login-items-social {
    display: flex;
}

.a-box-social {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.a-box-social>a {
    padding-left: 48px;
    width: 470px;
    height: 50px;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.btn-naver-social {
    margin-top: 50px;
}

.btn-cacao-social {
    margin-top: 10px;
}

.btn-naver-social::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 56px;
    height: 50px;
    border-right: 1px solid #ddd;
    background: url(/static/images/social_naver.png) no-repeat;
    background-position: center center;
}

.btn-cacao-social::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 56px;
    height: 50px;
    border-right: 1px solid #ddd;
    background: url(/static/images/social_cacao.png) no-repeat;
    background-position: center center;
}

.login-menu-social {
    display: flex;
    justify-content: center;
    margin: 15px 0px 0px;
    padding-left: 56px;
}

.login-menu-social>a {
    color: #666;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.login-menu-social a:not(:first-child) {
    margin-left: 20px;
}

.login-menu-social a:not(:first-child)::after {
    content: '';
    position: absolute;
    left: -11px;
    top: 50%;
    margin-top: -5px;
    width: 1px;
    height: 10px;
    background-color: #ddd;
}

.login-banner-social img {
    width: 450px;
    height: 220px;
    margin-top: 20px;
}