<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디찾기 방법선택 &lt; 아이디찾기 &lt; L.POINT</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/member/join/join_header.css">
    <link rel="stylesheet" href="/static/css/member/join/join_footer.css">
    <link rel="stylesheet" href="/static/css/member/join/find_id.css">
</head>

<body>
    <div class="container">
        <div class="mast-head">
            <div class="mast-head-container">
                <h1 class="lotte-logo">
                    <a href="https://www.lpoint.com/"><img src="/static/images/lpoint_logo.png" alt="L 포인트 로고"></a>
                    <a href="#"><img src="/static/images/side_banner_closer.png" alt="닫기버튼"></a>
                    <a href=""><img src="/static/images/lotte_cultureworks_logo.png" alt=""></a>
                </h1>
            </div>
        </div>

        <main>
            <div class="title">아이디 찾기</div>
            <div class="page-description">
                <span>등록된 회원정보로</span>
                <span>아이디를 찾으실 수 있습니다.</span>
            </div>
            <div class="find-way-wrapper">
                <div class="find-way">
                    <input type="radio" id="phone" name="select_way" class="radio-input" checked>
                    <label for="phone">휴대폰 번호로 찾기</label>
                    <div class="input-form">
                        <div class="input-row">
                            <span class="input-title">이름</span>
                            <input class="input-text" type="text" name="name" placeholder="한글 또는 영문으로 입력해주세요.">
                        </div>
                        <div class="input-row">
                            <span class="input-title">휴대폰 번호</span>
                            <select name="first_number" class="select-box">
                                <option value="" selected>선택</option>
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>
                            <input type="number" name="middle_number" class="input-number" min="0" max="9999">
                            <span class="separator">-</span>
                            <input type="number" name="last_number" class="input-number" min="0" max="9999">
                        </div>
                    </div>
                </div>
                <div class="find-way">
                    <input type="radio" id="email" name="select_way" class="radio-input" selected>
                    <label for="email">이메일로 찾기</label>
                    <div class="input-form">
                        <div class="input-row">
                            <span class="input-title">이름</span>
                            <input class="input-text" type="text" name="name" placeholder="한글 또는 영문으로 입력해주세요.">
                        </div>
                        <div class="input-row">
                            <span class="input-title">이메일 주소</span>
                            <input class="input-text" type="text" name="email" placeholder="한글 또는 영문으로 입력해주세요.">
                        </div>
                    </div>
                </div>
                <div class="find-way">
                    <input type="radio" id="company_name" name="select_way" class="radio-input" selected>
                    <label for="company_name">사업자등록번호로 찾기</label>
                    <div class="input-form">
                        <div class="input-row">
                            <span class="input-title">법인명</span>
                            <input class="input-text" type="text" name="company_name" placeholder="한글 또는 영문으로 입력해주세요.">
                        </div>
                        <div class="input-row">
                            <span class="input-title">사업자번호</span>
                            <input class="input-number" type="text" name="first_number">
                            <span class="separator">-</span>
                            <input class="input-number" type="text" name="middle_number">
                            <span class="separator">-</span>
                            <input class="input-number" type="text" name="last_number">
                        </div>
                    </div>
                </div>
                <div class="find-way">
                    <input type="radio" id="certificate" name="select_way" class="radio-input" selected>
                    <label for="certificate">본인인증으로 찾기</label>
                    <div class="input-form">
                        <div class="certificate-buttons">
                            <button type="button" class="certificate-button">
                                <img src="/static/images/find_id_naver.png" alt="">
                                <span>네이버</span>
                            </button>
                            <button type="button" class="certificate-button">
                                <img src="/static/images/find_id_toss.png" alt="">
                                <span>토스</span>
                            </button>
                            <button type="button" class="certificate-button">
                                <img src="/static/images/find_id_card.png" alt="">
                                <span>카드</span>
                            </button>
                            <button type="button" class="certificate-button">
                                <img src="/static/images/find_id_phone.png" alt="">
                                <span>휴대폰</span>
                            </button>
                        </div>
                        <span class="certificate-description">- 법인 명의 휴대폰 사용자는 통신사 지점 또는 대리점에 방문하여 법인명의 실사용자 등록 후 휴대폰
                            인증이 가능합니다.</span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="button" class="cancel-button">취소</button>
                <button type="button" class="submit-button">다음</button>
            </div>
        </main>
    </div>

    <footer>
        <div class="mast-foot">
            <div class="footer-container">
                <div class="footer-texts">
                    <div class="utility">
                        <a href="http://www.lottemembers.com/">회사소개</a>
                        <a href="https://m.lpoint.com/app/center/LWDE100100.do">고객센터</a>
                        <a href="https://m.lpoint.com/app/center/LWDD100100.do">이용약관</a>
                        <a href="https://m.lpoint.com/app/center/LWDD100100.do?popup=4">개인정보처리방침</a>
                    </div>
                    <div class="address">
                        <span>서울시 중구 통일로 2길 16 AIA타워 14층</span>
                        <span>회사명 롯데멤버스(주)</span>
                        <span>대표이사 전형식</span>
                        <span>사업자등록번호 104-86-58491</span>
                        <span>고객센터 1899-8900</span>
                    </div>
                    <div class="copyright">
                        <span>© LOTTE MEMBERS CO.,LTD.</span>
                    </div>
                </div>
                <div class="site-linker">
                    <button type="button">Service Site</button>
                    <ul class="site-list">
                        <li>L.POINT</li>
                        <li>L.pay</li>
                        <li>라임</li>
                        <li>L.POINT 파트너스</li>
                    </ul>
                    <button type="button">Family Site</button>
                    <ul class="site-list">
                        <li>롯데타운</li>
                        <li>롯데닷컴</li>
                        <li>롯데마트</li>
                        <li>롯데빅마켓</li>
                        <li>토이저러스</li>
                        <li>롯데슈퍼</li>
                        <li>롯데홈쇼핑</li>
                        <li>바이더웨이</li>
                        <li>세븐일레븐</li>
                        <li>하이마트</li>
                        <li>한국후지필름</li>
                        <li>LOHB's</li>
                        <li>롯데백화점</li>
                        <li>롯데면세점</li>
                        <li>롯데피트인</li>
                        <li>롯데몰 김포공항점</li>
                        <li>롯데월드몰</li>
                        <li>롯데영플라자</li>
                        <li>롯데아울렛</li>
                        <li>롯데프리미엄아울렛</li>
                        <li>무인양품</li>
                        <li>유니클로</li>
                        <li>롯데리아</li>
                        <li>엔제리너스커피</li>
                        <li>T.G.I FRIDAY's</li>
                        <li>나뚜루POP</li>
                        <li>크리스피크림도넛</li>
                        <li>보네스빼</li>
                        <li>롯데시네마</li>
                        <li>롯데월드 어드벤처</li>
                        <li>롯데월드 아쿠아리움</li>
                        <li>롯데 워터파크</li>
                        <li>롯데자이언츠</li>
                        <li>롯데제이티비</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>