.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 105px;
    width: 100%;
}

.select-button {
    display: flex;
    justify-content: space-between;


    width: 980px;

    margin-bottom: 30px;

}

.select-button div {
    width: 100%;
}

.select-button div>button {
    display: block;
    border: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    color: #7f7f7f;

    background-color: #fff;
    cursor: pointer;

}

.select-contents {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 363.5px;



    background-color: #f5f5f5;
}

.member {
    display: flex;
    justify-content: space-between;

    width: 980px;
    padding: 60px 0px;

}

.login-box {
    width: 470px;
    min-height: 220px;

}

.tip {
    font-size: 16px;

}

.login-area {
    display: flex;
    justify-content: space-between;

    width: 470px;
    height: 100px;

    margin-top: 21px;
}

.login-input-box {
    display: flex;
    flex-direction: column;

}

.username {
    width: 350px;
    height: 45px;
    padding: 0px 18px;
    border-radius: 4px;
    border: 1px solid #DDD;

    background-color: #fff;
    font-size: 14px;
    word-spacing: 2px;
}

.password {
    width: 350px;
    height: 45px;
    padding: 0px 18px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #DDD;

    background-color: #fff;
    font-size: 14px;
    word-spacing: 2px;
}

.login-area button {
    width: 110px;
    height: 100px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff243e;
}

.login-assist {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 470px;
    height: 25px;
    margin: 15px 0px 40px;

}

/* #checkSavedID {
    width: 20px;
    height: 20px;
    border: none;
} */

#checkSavedID::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid #DDD;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

#checkSavedID:checked::before {
    background: url("/LotteCinema/images/login_check.png") no-repeat 50% 50% white;
}

.login-check {
    position: relative;
    display: flex;
    align-items: center;
}

.login-check label {
    margin-left: 12px;
    height: 20px;
    line-height: 20px;
}

.login-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 20px;
    width: 206.23px;
    height: 25px;
}

.login-menu a {
    color: #666;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.login-menu a:not(:first-child):before {
    content: '';
    position: absolute;
    opacity: 0.2;
    left: -11px;
    top: 50%;
    margin-top: -5px;
    width: 1px;
    height: 10px;
    border-left: 1px solid #707070;
}

.login-banner {
    width: 451px;
    height: 220px;

    margin-top: 20px;
}

.banner-side {
    top: 485px;
    position: absolute;
    left: 50%;
    margin-left: -660px;
    z-index: 10;
}

.banner-side a {
    width: 145px;
    height: 145px;

    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}

.banner-side a>img {
    width: 100%;
    height: 100%;
    border: none;
}

.btn-close {
    position: absolute;
    width: 13px;
    height: 13px;
    border: 0px;
    background-image: url(/LotteCinema/images/side_banner_closer.png);
    background-color: #f5f5f5;
}

.banner {
    display: block;
    width: 100%;
    padding-top: 70px;
    height: 540px;
}

.h-banner{
    margin: 0px auto 50px;
    width: 980px;
    height: 180px;

    cursor: pointer;
}

.f-banner{
    background-color: rgb(0, 92, 185);
    background-image: url(/LotteCinema/images/background-img.jpg);
    background-repeat: repeat-x;
    background-position: 0px 0px;

}

.f-banner a{
    display: block;
    width: 980px;
    margin: 0px auto;
    cursor: pointer;
}

.quick-wrap{
    position: absolute;
    z-index: 11px;
    top: 140px;
    right: 20px;
    width: 82px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0 / 16%);
    border-radius: 4px;
}

.quick-menu{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 76px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    
    overflow: hidden;
}

.quick-menu a {
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.quick-menu a img {
    display: block;
}

.quick-top{
    background-color: #3a3a3a;
    font-size: 11px;
    color: #fff;
    letter-spacing: 5px;
    margin-top: 10px;
    padding-left: 13px;
    width: 76px;

}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    width: 100%;
}

.inner{
    display: flex;
    flex-direction: column;
    width: 980px;
    margin: 0px auto;
}

.f-logo img{
    width: 203px;
    height: 36px;
    margin-bottom: 20px;
    border: none;
}

.f-menu {
    display: flex;
    margin-bottom: 15px;
}

.f-menu li{
    margin-right: 10px;
    padding-left: 10px;
    position: relative;
}

.f-menu li>a{
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.f-menu li:not(:first-child)>a::after{
    position: absolute;
    content: "";
    left: 0px;
    top: 2px;
    height: 10px;
    border-left: 1px solid #707070;
    clear: both;
}

.bx-address{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 36px;
    line-height: 1.5px;
    font-size: 12px;
    color: #4d4d4d;
}

.bx-address span{
    display: inline;
    height: 36px;
    width: 980px;
    margin-right: 10px;
    color: #4d4d4d;
}

.bar{
   position: relative;
   padding-left: 10px;
   margin-right: 10px;
}

.bx-address> div {
    display: block;
}

.bx-address span {
    height: 18px;
}

.bx-address span.bar::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 4px;
    height: 10px;
    border-left: 1px solid #707070;
}

.award{
    margin-top: 50px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
}

.award > ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 980px;
}

.inner {
    position: relative;
    width: 980px;
}

.inner ul>li:first-child{
    padding-left: 0px;
}
.inner ul>li>a{
    display: block;
}
.inner ul>li:last-child{
    margin-right: 0px;
}

.hidden {
    display: none;
}

.copyright {
    margin-top: 4px;
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #4D4D4D;
}