<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/Member/join/cardcertificate.css">
    <link rel="stylesheet" href="/static/css/Member/join/join-header.css">
    <link rel="stylesheet" href="/static/css/Member/join/join-footer.css">
    <link rel="stylesheet" href="/static/css/Member/join/certificate-header.css">
    <link rel="stylesheet" href="/static/css/Member/join/certificate-footer.css">
</head>

<body>
    <main class="container">
        <div class="mast-head">
            <div class="mast-head-container">
                <h1 class="lotte-logo">
                    <a href="https://www.lpoint.com/"><img src="/static/images/lpoint_logo.png" alt="L 포인트 로고"></a>
                    <a href="#"><img src="/static/images/side_banner_closer.png" alt="닫기버튼"></a>
                    <a href="/index"><img src="/static/images/lotte_cultureworks_logo.png" alt=""></a>
                </h1>
            </div>
        </div>
        <!-- certificate 작업 필요 -->
        <div class="mast-body">
            <div class="main-container">
                <div class="main-toparea">
                    <h2 class="main-title">
                        <span>회원가입</span>
                    </h2>
                    <div class="main-headline">
                        <span>회원가입을 위해</span><br>
                        <span>카드 본인 인증해주세요.</span>
                    </div>
                </div>
                <div class="main-contents">
                    <div class="card-section">
                        <div class="select-card">
                            <span>카드사 선택</span>
                        </div>
                        <div class="kind-card">
                            <ul class="card-list">
                                <li class="logo-img">
                                    <label for="card-list"><img src="/static/images/lotteCard_LOGO_01.png"
                                            alt=""></label>
                                </li>
                                <li class="logo-img">
                                    <label for="card-list"><img src="/static/images/CDCO_LOGO_02.png"
                                            alt=""></label>
                                </li>
                                <li class="logo-img">
                                    <label for="card-list"><img src="/static/images/CDCO_LOGO_03.png"
                                            alt=""></label>
                                </li>
                                <li class="logo-img">
                                    <label for="card-list"><img src="/static/images/CDCO_LOGO_04.png"
                                            alt=""></label>
                                </li>
                                <li class="logo-img">
                                    <label for="card-list"><img src="/static/images/CDCO_LOGO_05.png"
                                            alt=""></label>
                                </li>
                                <li class="logo-img">
                                    <label for="card-list"><img src="/static/images/CDCO_LOGO_06.png"
                                            alt=""></label>
                                </li>
                                <li class="logo-img">
                                    <label for="card-list"><img src="/static/images/CDCO_LOGO_07.png"
                                            alt=""></label>
                                </li>
                                <li class="logo-img">
                                    <label for="card-list"><img src="/static/images/CDCO_LOGO_08.png"
                                            alt=""></label>
                                </li>
                            </ul>
                        </div>
                        <div class="card-desceiption">
                            <p>- 카드사 정보는 <a href="#">여기를 클릭</a>해주세요</p>
                            <p>- 소지하신 카드에 BC 로고가 있는 경우 BC카드를 선택해주세요.</p>
                        </div>
                    </div>
                    <div class="type-section">
                        <div class="select-subject">
                            <span>인증유형 선택</span>
                        </div>
                        <div class="checking">
                            <div class="checking-box">
                                <div>
                                    <input type="radio" class="app-cert">
                                    <label for="checking-box">간편인증(APP카드)</label>
                                </div>
                                <button type="button">자세히</button>
                            </div>
                            <div class="checking-box">
                                <div>
                                    <input type="radio" class="app-cert">
                                    <label for="checking-box">일반인증(ARS)</label>
                                </div>
                                <button type="button">자세히</button>
                            </div>
                            <div class="checking-box">
                                <div>
                                    <input type="radio" class="app-cert">
                                    <label for="checking-box">홈페이지 인증</label>
                                </div>
                                <button type="button">자세히</button>
                            </div>
                        </div>
                        <div class="btn-center">
                            <button type="button">취소</button>
                            <button type="button">다음</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="mast-foot">
            <div class="footer-container">
                <div class="footer-texts">
                    <div class="utility">
                        <a href="http://www.lottemembers.com/">회사소개</a>
                        <a href="https://m.lpoint.com/app/center/LWDE100100.do">고객센터</a>
                        <a href="https://m.lpoint.com/app/center/LWDD100100.do">이용약관</a>
                        <a href="https://m.lpoint.com/app/center/LWDD100100.do?popup=4">개인정보처리방침</a>
                    </div>
                    <div class="address">
                        <span>서울시 중구 통일로 2길 16 AIA타워 14층</span>
                        <span>회사명 롯데멤버스(주)</span>
                        <span>대표이사 전형식</span>
                        <span>사업자등록번호 104-86-58491</span>
                        <span>고객센터 1899-8900</span>
                    </div>
                    <div class="copyright">
                        <span>© LOTTE MEMBERS CO.,LTD.</span>
                    </div>
                </div>
                <div class="site-linker">
                    <button type="button">Service Site</button>
                    <ul class="site-list">
                        <li>L.POINT</li>
                        <li>L.pay</li>
                        <li>라임</li>
                        <li>L.POINT 파트너스</li>
                    </ul>
                    <button type="button">Family Site</button>
                    <ul class="site-list">
                        <li>롯데타운</li>
                        <li>롯데닷컴</li>
                        <li>롯데마트</li>
                        <li>롯데빅마켓</li>
                        <li>토이저러스</li>
                        <li>롯데슈퍼</li>
                        <li>롯데홈쇼핑</li>
                        <li>바이더웨이</li>
                        <li>세븐일레븐</li>
                        <li>하이마트</li>
                        <li>한국후지필름</li>
                        <li>LOHB's</li>
                        <li>롯데백화점</li>
                        <li>롯데면세점</li>
                        <li>롯데피트인</li>
                        <li>롯데몰 김포공항점</li>
                        <li>롯데월드몰</li>
                        <li>롯데영플라자</li>
                        <li>롯데아울렛</li>
                        <li>롯데프리미엄아울렛</li>
                        <li>무인양품</li>
                        <li>유니클로</li>
                        <li>롯데리아</li>
                        <li>엔제리너스커피</li>
                        <li>T.G.I FRIDAY's</li>
                        <li>나뚜루POP</li>
                        <li>크리스피크림도넛</li>
                        <li>보네스빼</li>
                        <li>롯데시네마</li>
                        <li>롯데월드 어드벤처</li>
                        <li>롯데월드 아쿠아리움</li>
                        <li>롯데 워터파크</li>
                        <li>롯데자이언츠</li>
                        <li>롯데제이티비</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/Member/join/join.js"></script>
</body>

</html>