<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/Member/join/join-header.css">
    <link rel="stylesheet" href="/static/css/Member/join/join-footer.css">
    <link rel="stylesheet" href="/static/css/Member/join/certificate-header.css">
    <link rel="stylesheet" href="/static/css/Member/join/certificate-footer.css">
    <link rel="stylesheet" href="/static/css/Member/join/certificate.css">
    <link rel="stylesheet" href="/static/css/Member/join/emailcertificate.css">
</head>

<body>
    <main class="container">
        <div class="mast-head">
            <div class="mast-head-container">
                <h1 class="lotte-logo">
                    <a href="https://www.lpoint.com/"><img src="/static/images/lpoint_logo.png" alt=" L 포인트 로고"></a>
                    <a href="#"><img src="/static/images/side_banner_closer.png" alt=" 닫기버튼"></a>
                    <a href="#"><img src="/static/images/lotte_cultureworks_logo.png" alt=""></a>
                </h1>
            </div>
        </div>
        <!-- certificate 작업 필요 -->
        <div class=" mast-body">
            <div class="main-container">
                <div class="main-toparea">
                    <h2 class="main-title">
                        <span>회원가입</span>
                    </h2>
                    <div class="step-image">
                        <img src="/static/images/img-step.png" alt="스텝 이미지">
                    </div>
                    <div class="main-headline">
                        <span>필수 약관에</span><br>
                        <span>동의 해주세요 :)</span>
                    </div>
                </div>
                <div class="main-contents">
                    <div class="main-terms">
                        <span>약관</span>
                    </div>
                    <div class="general-agreement">
                        <button type="button" class="general-agreement-checkbox"><img
                                src="/static/images/radio_button_img.png" alt="전체동의 체크 박스"></button>
                        <label for="general-agreement">전체동의</label>
                    </div>
                    <div class="lpoint-checkbox">
                        <div class="text-lpoint">L.POINT</div>
                        <div class="form-wrap-agreement">
                            <div class="inner">
                                <div class="ui-wrap">
                                    <div class="ui-check">
                                        <button type="button" class="general-agreement-checkbox"><img
                                                src="/static/images/radio_button_img.png" alt=""></button>
                                        <label for="ui-check" class="ui-check-label">L.POINT 회원약관
                                            <span>(필수)</span></label>
                                    </div>
                                    <div class="detail">
                                        <button type="button">자세히</button>
                                    </div>
                                </div>
                            </div>
                            <div class="inner">
                                <div class="ui-wrap">
                                    <div class="ui-check">
                                        <button type="button" class="general-agreement-checkbox"><img
                                                src="/static/images/radio_button_img.png" alt=""></button>
                                        <label for="ui-check" class="ui-check-label">개인정보의 필수적인 사항에 대한 수집 이용 동의
                                            <span>(필수)</span></span></label>
                                    </div>
                                    <div class="detail">
                                        <button type="button">자세히</button>
                                    </div>
                                </div>
                            </div>
                            <div class="inner">
                                <div class="ui-wrap">
                                    <div class="ui-check">
                                        <button type="button" class="general-agreement-checkbox"><img
                                                src="/static/images/radio_button_img.png" alt=""></button>
                                        <label for="ui-check" class="ui-check-label">개인정보의 선택적인 사항에 대한 수집 이용 동의
                                            <span class="choice-checkbox">(선택)</span></label>
                                    </div>
                                    <div class="detail">
                                        <button type="button">자세히</button>
                                    </div>
                                </div>
                            </div>
                            <div class="inner">
                                <div class="ui-wrap">
                                    <div class="ui-check">
                                        <button type="button" class="general-agreement-checkbox"><img
                                                src="/static/images/radio_button_img.png" alt=""></button>
                                        <label for="ui-check" class="ui-check-label">개인정보의 필수적인 제3자 제공에 대한
                                            동의<span>(필수)</span></label>
                                    </div>
                                    <div class="detail">
                                        <button type="button">자세히</button>
                                    </div>
                                </div>
                            </div>
                            <div class="inner">
                                <div class="ui-wrap">
                                    <div class="ui-check">
                                        <button type="button" class="general-agreement-checkbox"><img
                                                src="/static/images/radio_button_img.png" alt=""></button>
                                        <label for="ui-check" class="ui-check-label">개인정보의 선택적인 제3자 제공에 대한 동의 <span
                                                class="choice-checkbox">(선택)</span></label>
                                    </div>
                                    <div class="detail">
                                        <button type="button">자세히</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lotte-cultureworks">
                        <div class="inner">
                            <div class="ui-wrap">
                                <div class="ui-check">
                                    <button type="button" class="general-agreement-checkbox"><img
                                            src="/static/images/radio_button_img.png" alt=""></button>
                                    <label for="ui-check" class="ui-check-label">롯데컬처웍스 회원사 약관 <span>(필수)</span></label>
                                </div>
                                <div class="detail">
                                    <button type="button">자세히</button>
                                </div>
                            </div>
                        </div>
                        <div class="inner">
                            <div class="ui-wrap">
                                <div class="ui-check">
                                    <button type="button" class="general-agreement-checkbox"><img
                                            src="/static/images/radio_button_img.png" alt=""></button>
                                    <label for="ui-check" class="ui-check-label">필수입력정보 수집동의서 <span>(필수)</span></label>
                                </div>
                                <div class="detail">
                                    <button type="button">자세히</button>
                                </div>
                            </div>
                        </div>
                        <div class="inner">
                            <div class="ui-wrap">
                                <div class="ui-check">
                                    <button type="button" class="general-agreement-checkbox"><img
                                            src="/static/images/radio_button_img.png" alt=""></button>
                                    <label for="ui-check" class="ui-check-label">선택입력정보 수집동의서 <span
                                            class="choice-checkbox">(선택)</span></label>
                                </div>
                                <div class="detail">
                                    <button type="button">자세히</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <p>- 선택약관에 동의하지 않으셔도 회원가입이 가능합니다.</p><br>
                        <p>- L.POINT 선택약관에 동의하지 않으시면 L.POINT 모든 제휴사에서 회원 혜택이 제한됩니다.<br>
                        </p>
                        <p class="description-text"> 1) 롯데백화점 MVG등 제휴사 회원등급 선정 및 추가포인트 적립 대상에서 제외<br>
                            2)롯데마트 등 쿠폰 지급 대상에서 제외<br>
                            3)모든 제휴사 이벤트 당첨대상에서 제외</p>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="btn-center">
        <button type="button">취소</button>
        <button type="button">인증 요청</button>
    </div>
    <footer>
        <div class="mast-foot">
            <div class="footer-container">
                <div class="footer-texts">
                    <div class="utility">
                        <a href="http://www.lottemembers.com/">회사소개</a>
                        <a href="https://m.lpoint.com/app/center/LWDE100100.do">고객센터</a>
                        <a href="https://m.lpoint.com/app/center/LWDD100100.do">이용약관</a>
                        <a href="https://m.lpoint.com/app/center/LWDD100100.do?popup=4">개인정보처리방침</a>
                    </div>
                    <div class="address">
                        <span>서울시 중구 통일로 2길 16 AIA타워 14층</span>
                        <span>회사명 롯데멤버스(주)</span>
                        <span>대표이사 전형식</span>
                        <span>사업자등록번호 104-86-58491</span>
                        <span>고객센터 1899-8900</span>
                    </div>
                    <div class="copyright">
                        <span>© LOTTE MEMBERS CO.,LTD.</span>
                    </div>
                </div>
                <div class="site-linker">
                    <button type="button">Service Site</button>
                    <ul class="site-list">
                        <li>L.POINT</li>
                        <li>L.pay</li>
                        <li>라임</li>
                        <li>L.POINT 파트너스</li>
                    </ul>
                    <button type="button">Family Site</button>
                    <ul class="site-list">
                        <li>롯데타운</li>
                        <li>롯데닷컴</li>
                        <li>롯데마트</li>
                        <li>롯데빅마켓</li>
                        <li>토이저러스</li>
                        <li>롯데슈퍼</li>
                        <li>롯데홈쇼핑</li>
                        <li>바이더웨이</li>
                        <li>세븐일레븐</li>
                        <li>하이마트</li>
                        <li>한국후지필름</li>
                        <li>LOHB's</li>
                        <li>롯데백화점</li>
                        <li>롯데면세점</li>
                        <li>롯데피트인</li>
                        <li>롯데몰 김포공항점</li>
                        <li>롯데월드몰</li>
                        <li>롯데영플라자</li>
                        <li>롯데아울렛</li>
                        <li>롯데프리미엄아울렛</li>
                        <li>무인양품</li>
                        <li>유니클로</li>
                        <li>롯데리아</li>
                        <li>엔제리너스커피</li>
                        <li>T.G.I FRIDAY's</li>
                        <li>나뚜루POP</li>
                        <li>크리스피크림도넛</li>
                        <li>보네스빼</li>
                        <li>롯데시네마</li>
                        <li>롯데월드 어드벤처</li>
                        <li>롯데월드 아쿠아리움</li>
                        <li>롯데 워터파크</li>
                        <li>롯데자이언츠</li>
                        <li>롯데제이티비</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/Member/join/join.js"></script>
    <script src="/static/js/Member/join/certificate.js"></script>
</body>

</html>