.btn-center {
    display: flex;
    justify-content: center;
}

.btn-center button {
    padding: 0px 10px;
    width: 143px;
    height: 40px;

}

.btn-center :first-child {
    margin-right: 2px;
    background-color: #333;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 2px;
}

.btn-center :last-child {
    background-color: #ee1c25;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 2px;
}